<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>prop获取动态数据</title>
</head>
<body>
<div id="app">
    <!--使用v-bind形式绑定Vue中的data属性-->
    <login :name="username" :age="age"></login>
</div>
</body>
<!--引入vue开发版本-->
<script src="../../static/js/vue.js"></script>
<script>
    //声明一个组件配置对象
    const login = {
        template: '<div><h2>欢迎：{{name}}年龄是：{{age}}</h2></div>',
        props: ['name','age']
    }

    const app = new Vue({
        el: "#app",
        data: {
            username:'小陈陈',
            age:23
        },
        methods: {},
        components: {
            //注册组件
            login
        }
    });
</script>
</html>