<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
	mapper 用来管理DAO接口
	namespace: 当前mapper配置文件管理的是哪个DAO接口(包.接口名)

 -->
<mapper namespace="com.demo.dao.UserDao">
    <!-- 
		查询:select标签
		id :接口中的方法名
		parameterType: 参数类型 
		resultType   : 处理结果集  自动封装
		注意:sql语句后不要出现";"号
	 -->
    <select id="getUserById" parameterType="String" resultType="User">
        select id,name,age,bir from t_user where id = #{id}
    </select>

    <!-- 
	 	注意: 查询所有结果多个  resultType 还是使用要封装的实体类的全限定名 (包.类)
	  -->
    <select id="findAll" resultType="User">
        select id,name,age,bir from t_user
    </select>


    <update id="update" parameterType="User">
        update t_user set name=#{name},age=#{age},bir=#{bir} where id= #{id}
    </update>


    <delete id="delete" parameterType="String">
        delete from t_user where id = #{id}
    </delete>

    <insert id="save" parameterType="User">
        insert into t_user(name,age,bir) values(#{name},#{age},#{bir})
    </insert>
</mapper>